/*********************************************************************/
/*! –––––[ Reset ]––––––––––––––– */
/*********************************************************************/

* {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	outline: none;
	max-width: 100%;
	box-sizing: border-box;
}

input[type=text],
input[type=tel],
input[type=number],
input[type=email],
textarea,
input[type=submit],
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border: none;
	
	background: hsla(0, 0%, 100%, .6);
	padding: 12px;
	font-size: 18px;
	font-family: 'Lato', serif;
	font-style: italic;
	font-weight: 300;
	color: #fff; 
}

input[type=submit],
button {
	background: #000;
	color: #fff;
	padding: 12px 30px;
	cursor: pointer;
}

/*********************************************************************/
/*! –––––[ Structure ]––––––––––––––– */
/*********************************************************************/

html {

}

.content-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (min-width: 1230px) {
	.content-container {
		padding: 0;	
	}
}

p {
	font-family: 'Libre Baskerville', serif;
}

h1,
h2 {
	font-family: 'Lato', serif;
}

h2 {
	font-size: 42px;
	font-weight: normal;
	letter-spacing: 4px;
}

/*********************************************************************/
/*! –––––[ Common/Helpers ]––––––––––––––– */
/*********************************************************************/

.font-secondary {
	font-family: 'Libre Baskerville', serif;
}

.text-center {
	text-align: center;
}

.input {
	display: inline-block;
}

hr.clear {
	clear: both;
	height: 0;
	border: none;
}

.input label.placeholder {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 12px;
	font-size: 18px;
	font-family: 'Lato', serif;
	font-style: italic;
	font-weight: 300;
	color: #fff;
	text-align: left;
	cursor: text;
}

.email-entry .input {
	display: block;
	margin: 20px;
}
.email-entry .input input {
	width: 100%;
	display: block;
}

.email-entry {
	padding-bottom: 50px;
}

.email-entry p {
	color: #b4b4b4;
	margin: 60px 0 45px;
	font-size: 24px;
}

.logo-divider {
	text-align: center;	
	max-width: 850px;
	margin: 0 auto;
	margin-bottom: 80px; 
}

.logo-divider .line {
	display: inline-block;
	width: 45%;
	border: none;
	border-bottom: 1px solid #fff;
	position: relative;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	opacity: .7;
	-webkit-opacity: .7;
	-moz-opacity: .7;
	-ms-opacity: .7;
	filter: alpha(opacity=70);
}

.logo-divider .line-first {
	float: left;
}
.logo-divider .line-last {
	float: right;
}

.logo-divider img {
	width: 10%;
	min-width: 40px;
	padding: 3%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

@media (min-width: 700px) {

	.email-entry .input {
		display: inline-block;
	}
	
	.email-entry .input input {
		width: auto;
		display: inherit;
	}
	.email-entry {
		padding-bottom: 250px;
	}

}

/*********************************************************************/
/*! –––––[ Sections ]––––––––––––––– */
/*********************************************************************/

/**********************************************************/
/* Hero */
/**********************************************************/
#hero {
	background-image: url("../../images/hero.jpg");
	background-position: top center;
	background-size: cover;
}

#hero .launch-callout {
	font-family: 'Lato', serif;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	padding-top: 40px;
	margin-bottom: 100px;
}

#hero .launch-callout img {
	top: 22px;
	margin: 0 28px;
}

#hero .hero-logo {
	padding: 30px;
}

@media (min-width: 700px) {
	#hero .launch-callout {
		font-size: 24px;
		margin-bottom: 200px;
	}
	#hero .hero-logo {
		padding: 0px;
	}
}

/**********************************************************/
/* Story */
/**********************************************************/
		
#story {
	padding: 50px 0;
	background: #fff;
}

#story .copy {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 3px solid #bfbfbf;
}

@media (min-width: 700px) {
	#story .title {
		float: left;
		padding: 40px;
		width: 265px;
	}
	
	#story .copy {
		border-top: none;
		border-left: 3px solid #bfbfbf;
		margin-top: 0;
		margin-left: 265px;
		padding-left: 65px;
		padding-top: 0;
		min-height: 240px;
		line-height: 150%;
	}
}

/**********************************************************/
/* Coming Soon */
/**********************************************************/

#coming-soon {
	background-image: url("../../images/hero-2.jpg");
	background-position: top center;
	background-size: cover;
	padding: 70px 15px;
}

#coming-soon .top {
	color: #fff;
	padding: 0 15px 70px;
}

#coming-soon .top p {
	margin-top: 34px;
}

#coming-soon .email-entry h2,
#coming-soon .email-entry p {
	color: #000;
}

#coming-soon .email-entry h2 {
	margin-top: 250px;	
}

#coming-soon .email-entry p {
	font-size: 20px;
	margin-top: 20px;
}

@media (min-width: 700px) {
	#coming-soon .top {
		min-height: 550px;
	}
	#coming-soon .email-entry h2 {
	margin-top: 0;	
	}

}

/**********************************************************/
/* Social */
/**********************************************************/

#social {
	padding: 50px 0;
	background: #fff;
}

#social .icons .instagram {
	font-family: 'Lato', serif;
	font-style: italic;
	letter-spacing: 2px;
	font-size: 24px;
	text-align: center;
}

#social .icons .instagram span {
	display: inline-block;
	padding-left: 20px;
	top: -10px;
}

#social .icons-right {
	margin-top: 30px;
}

#social .icons-right .icon {
	display: block;
	width: 33%;
	float: left;
	text-align: center;
}

#social .icons-right .icon a {
	display: inline-block;
	width: 50px;	
}

@media (min-width: 700px) {
	#social .icons .instagram {
		float: left;
	}
	
	#social .icons-right {
		position: absolute;
		margin: 0;
		top: 0;
		right: 0;
	}

	#social .icons-right a {
		width: auto;
		display: inline;
		margin: 0 60px;
	}
	
	#social .icons-right .icon-instagram {
		margin-right: 0;		
	}
}

/**********************************************************/
/* Footer */
/**********************************************************/

#footer {
	background: #000;
	padding: 50px 0;
}


